@font-face {
    font-family: MyFont;
    src: url(calibri-bold.TTF);
}

* {
    margin: 0;
    font-family: MyFont;
}

#navHeader {
    width: 100vw;
    height: 100px;
    background-color: rgb(200, 72, 60);

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: solid 3px black;
}

#headerLogo {
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 20px;
    color: rgb(46, 24, 9);
    font-size: 4vw;
    
}

h2 {
    font-size: 2vw;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.75vw;
    margin-bottom: 10px;
}

#logo {
    margin: 0px 5px 0px 20px;
    width: 80px;
    height: auto;
}

ul {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
}

li {
    margin: 20px;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}

#contentBody {
    height: auto;
    width: 100vw;
    background-color: rgb(246, 215, 130);

    display: flex;
    justify-content: center;
}

#card {
    width: 80vw;
    background-color: rgb(200, 72, 60);

    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border: solid 3px black;

    margin: 50px 0px;

    display: flex;
    padding-top: 20px;
}

#cardContent {
    width: 100%;
    background-color: white;
    height: auto;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    border-collapse: collapse;
    border-right: solid 3px black;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.616);

    padding: 45px 25px;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cardcontent > div {
    flex: 1;
}

.cardText {
    margin-bottom: 20px;
    text-align: center;
}

#cardImage {
    height: 95%;
    max-height: 650px;
    margin-right: 17px;
    border-top-right-radius: 20px;
    border: solid 3px black;
    border-collapse: collapse;
    margin-left: -3px;
}

#footer {
    height: 80px;
    background-color: rgb(200, 72, 60);
    font-size: 4vh;
    border-top: solid 3px black;

    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin-bottom: 20px;
}