@font-face {
    font-family: 'CalibriBold';
    src: url('./calibribold.ttf') format('truetype');
}

@font-face {
    font-family: 'CalibriRegular';
    src: url('./calibriregular.ttf') format('truetype');
}

@font-face {
    font-family: 'Painter';
    src: url('./painter.ttf') format('truetype');
}

* {
    margin: 0;
}

#navHeader {
    width: 100vw;
    height: 100px;
    background-color: #8E5572;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: solid 3px #3a222b;
}

#headerLogo {
    display: flex;
    align-items: center;
}

#headerText {
    font-family: 'Painter', 'CalibriBold', Arial, sans-serif;
}

h1 {
    font-family: 'CalibriBold', Arial, sans-serif;
    margin-left: 20px;
    color: rgb(46, 24, 9);
    font-size: 4vw;
    
}

h2 {
    font-family: 'CalibriRegular', Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
}

h3 {
    font-family: 'CalibriRegular', Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 8px;
}

#logo {
    margin: 0px 5px 0px 20px;
    width: 80px;
    height: auto;
}

ul {
    font-family: CalibriBold, Arial, sans-serif;
    list-style-type: none;
    display: flex;
    margin-right: 20px;
}

li {
    margin: 20px;
    font-size: 35px;
    cursor: hand;
}

a {
    text-decoration: none;
    color: black;
    cursor: hand;
}

#contentBody {
    height: auto;
    width: 100vw;
    background-color: #BCAA99;

    display: flex;
    justify-content: center;
}

#card {
    width: 60vw;
    background-color: #8E5572;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: solid 3px #3a222b;

    margin: 50px 0px;

    display: flex;
    padding: 20px;
}

#cardContent {
    width: 100%;
    background-color: rgb(250, 244, 231);
    height: auto;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.616);
    border: solid 3px #3a222b;
    border-top-left-radius: 20px;
    margin-right: -35px;

    padding: 30px 60px 0px 25px;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.cardHeader {
    font-family: 'Painter', 'CalibriBold', Arial, sans-serif;
    margin-top: 22px;
}

.cardText {
    margin-bottom: 20px;
    text-align: center;
}

#footerLogo {
    width: 40px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

#cardImage {
    max-height: 650px;
    max-width: 35%;
    border-bottom-right-radius: 20px;
    border: solid 3px #3a222b;

    align-self: flex-end;
}

#footer {
    height: 80px;
    width: 100vw;
    background-color: #8E5572;
    font-size: 30px;
    border-top: solid 3px #3a222b;

    font-family: 'CalibriRegular',  Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin-bottom: 20px;
}